*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
section#banner{
    background:url(./images/banner.jpg);
    height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.text-box {
    position: absolute;
    top: 50%;
    width: 50%;
}
.text-box h1{
    text-transform: uppercase;
    font-size: 5rem;
}
section.card-demo {
    padding: 50px 0;
}
.card {
    align-items: center;
    justify-content: center;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
    color: #fff;
}
/* conatct */
#about-banner {
    position: relative;
    background-image: url(images/banner.jpg);
    height: 50vh;
}
#about-banner  h2 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    padding-top: 50px;
}
section#content iframe {
    width: 510px;
    height: 450px;
}
section#content {
    padding: 100px 0;
    background-color: #212529;
}
section#content h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}
.form-control {
    background-color: #fafafa;
    border: 1px solid #ededed;
    padding: 15px 25px 15px 25px;
}
label.form-label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.btn {
    padding: 15px 24px;
    margin: 20px 0px;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #d08e02;
    border-color: #d08e02;
    border-radius: 0px 0px 0px 0px;
    box-shadow: -6px 1px 25px 0px rgb(208 142 2 / 58%);
}

.btn-primary:hover {
    color: #d08e02;
    background-color: #ffffff;
    border-color: #d08e02;
}
h6 {
    color: #d08e02;
    font-weight: 600;
    font-family: sans-serif;
}
.copyright {
    display: flex;
    justify-content: space-between;
  }
  footer ul{
    list-style: none;
    padding-left: 0rem;
  }
  footer ul li{
    padding: 5px 0;
  }
  .social ul li {
    display: inline-block;
    padding: 0 20px;
    
  }
  
  footer  a , .copyright a{
    text-decoration: none;
    color: #fff;
  }
  footer i.fa.fa-map-marker, i.fa.fa-phone {
    margin-right: 15px;
    color: #d08e02;
    font-size: 20px;
}
footer a:hover {
    color: #d08e02;
}
p.pb-2 {
    font-size: 1rem;
    padding-right: 90px;
}

input.ekit_mail_email.ekit_form_control {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    padding: 15px 15px 15px 24px;
    margin-right: 8px;
    width: 60%;
}
.ekit-mail-submit {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 14px 24px 14px 20px;
    color: #ffffff;
    background-color: #d08e02;
}
@media (max-width:767px) {
    .text-box h1 {
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    #about-banner h2 {
        font-size: 3rem;
    }
    section#content iframe {
        width: 100%;
        height: 350px;
    }
}